.btn-forward-cstm{
    background-color: #764ABC;
    border-color: #502c8a;
}

.btn-forward-cstm:hover{
    background-color: #502c8a;
}

.LogInPage{
    background: #F3F6F8;
}

.LogIn-Wrapper{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}