
.personal-nav{
    display: flex;
    justify-content: center;
}

.nav-elements{
    margin: 0px 20px;
}

.flex-container{
    display: flex;
    justify-content: center; 
}

.myTask{
    display: flex;
    justify-content: space-between; 
    border: 3px solid black;
}

.task-img{
    flex-grow: 1;
}

.task-des{
    flex-grow: 2;
}

.task-rew{
    flex-grow: 1;
}

.box-elements{
    padding: 2px;
    border: 3px solid black;
    width: 125px;
}

.nav-selected p{
    color: $primary;
    border-bottom: 3px solid $primary;
}

.right{
    float: right;
    margin: 2%
}

.center{
    text-align:center;
}

.reward-num{
    border: none;
    text-align: center;
    outline: none;
}

.reward-num::-webkit-inner-spin-button,
.reward-num::-webkit-outer-spin-button{
    -webkit-appearance: none; 
    margin: 0; 
}

.reward-update{
    font-size: 1.25em;
}

.reward-num-btn{
    font-weight: bold;
}

.task-image-upload>input{
    display: none;
}

.individual-reward-card{
    margin: 5%;
}