.navbar-forward{
    background-color: $primary !important;
    margin-bottom: 40px;
}

.forward-page-header{
    color: $primary;
}

.btn-forward-main{
    padding: 20px 30px;
    margin: 50px 0px;
}

.logo-forward{
    height: 50px;
}

.forward-cust-title{
    color: $primary;
    font-weight: bold;
}

.personal-nav, .tabbed-nav{
    display: flex;
    justify-content: center;
    .nav-elements{
        margin: 0px 20px 20px;
        border-bottom: 3px solid transparent;
        color: $body-color;
        @include hover-focus-active{
            text-decoration: none;
        }
        &.nav-selected{
            border-bottom: 3px solid $primary;
            color: $primary;
        }
    }
}



.flex-container{
    display: flex;
    justify-content: center; 
}

.myTask{
    display: flex;
    justify-content: space-between; 
    border: 3px solid black;
}

.task-img{
    flex-grow: 1;
}

.task-des{
    flex-grow: 2;
}

.task-des b:first-of-type{
    color: $primary;
}

.task-rew{
    flex-grow: 1;
}

.box-elements{
    padding: 2px;
    border: 3px solid black;
    width: 125px;
}



.right{
    float: right;
}

.center{
    text-align:center;
}

.reward-num{
    border: none;
    text-align: center;
    outline: none;
}

.reward-num::-webkit-inner-spin-button,
.reward-num::-webkit-outer-spin-button{
    -webkit-appearance: none; 
    margin: 0; 
}

.reward-cont{
    justify-content: space-between;
}

.reward-update{
    font-size: 1.25em;
}

.reward-title{
    color: $primary;
    margin-bottom: 20px;
}

.reward-num-btn {
    font-weight: bold;
    border: 3px solid $primary;
    border-radius: 5px;
    cursor: pointer;
    // padding: 3px 10px;
    width: 40px;
    user-select: none;
}

.reward-num-btn:hover{
    background: $primary;
    color: white;
}

.task-image-upload{
    background: $green;
    color: white;   
    cursor: pointer;
    padding: 8px;
    width: 70%;
    margin-top: 10px;
}

.task-image-upload label{
    margin-bottom: 0px;
}

.task-image-upload:hover{
    background: $teal;
}

.task-image-upload>input{
    display: none;
}

.contributors{
    margin-bottom: 2%;
    // text-align: center;
}

.search-favour{
    width: 100%;
    margin-top: 50px;
}

.search-result{
    width: 100%;
    border: 3px solid $gray-300;
    display: inline-block;
    text-align: left;
    margin-top: 5px;
}

.search-result > *{
    margin-left: 15px;
}

.main{
    padding: 0px 100px;
}

.task-container, .party-container{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    border: 2px solid $gray-300;
    -webkit-box-shadow: 0px 3px 4px 0px $gray-500;
    -moz-box-shadow: 0px 3px 4px 0px $gray-500;
    box-shadow: 0px 3px 4px 0px $gray-500;
    transition: 0.3s; /* animation effect on hover */
}

.task-container{
    cursor: pointer;
}

.task-container:hover {
    background-color: $secondary;
    -webkit-box-shadow: 0px 5px 6px 0px $gray-500;
    -moz-box-shadow: 0px 5px 6px 0px $gray-500;
    box-shadow: 0px 5px 6px 0px $gray-500;
  }

  .modal-dialog-centered{
      max-width: 1200px;
  }

  .status-Open{
      color: $green;
      font-weight: bolder;
  }

  .status-Completed{
      color: $red;
      font-weight: bolder;
  }

  .status-Pending{
    color: $red;
    font-weight: bolder;
}

.status-Paid{
    color: $green;
    font-weight: bolder;
}
  .cust-fab{
    position: fixed;
    bottom: 20px;
    right: 90px;
    z-index: 99;
  }

  .cust-float-new {
    border-radius: 50px;
    padding: 25px 37px;
    -webkit-box-shadow: 0px 3px 4px 0px $gray-500;
    -moz-box-shadow: 0px 3px 4px 0px $gray-500;
    box-shadow: 0px 3px 4px 0px $gray-500;
}

.img-size-maintain{
    width: 200px;
}

.reward-selector{
    display: none;
}

.select-me{
    background-color: $secondary;
    -webkit-box-shadow: 0px 3px 4px 0px $gray-500;
    -moz-box-shadow: 0px 3px 4px 0px $gray-500;
    box-shadow: 0px 3px 4px 0px $gray-500;
    border-radius: 5px;
}

.favor-reward-card *:hover{
    cursor: pointer;
}

.help-list span{
 margin-right: 20px;
}

// adding spacing to navbar
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.8rem;
    padding-left: 0.8rem;
}