.navbar-forward{
    background-color: $primary !important;
    margin-bottom: 40px;
}

.logo-forward{
    height: 50px;
}


.personal-nav{
    display: flex;
    justify-content: center;
}

.nav-elements{
    margin: 0px 20px;
}

.flex-container{
    display: flex;
    justify-content: center; 
}

.myTask{
    display: flex;
    justify-content: space-between; 
    border: 3px solid black;
}

.task-img{
    flex-grow: 1;
}

.task-des{
    flex-grow: 2;
}

.task-rew{
    flex-grow: 1;
}

.box-elements{
    padding: 2px;
    border: 3px solid black;
    width: 125px;
}

.nav-selected p{
    color: $primary;
    border-bottom: 3px solid $primary;
}

.right{
    float: right;
    margin: 2%
}

.center{
    text-align:center;
}

.reward-num{
    border: none;
    text-align: center;
    outline: none;
}

.reward-num::-webkit-inner-spin-button,
.reward-num::-webkit-outer-spin-button{
    -webkit-appearance: none; 
    margin: 0; 
}

.reward-update{
    font-size: 1.25em;
}

.reward-num-btn{
    font-weight: bold;
}

.task-image-upload>input{
    display: none;
}

.individual-reward-card{
    margin: 5%;
}

.search-favour{
    width: 100%;
    margin-top: 50px;
}

.search-result{
    width: 100%;
    border: 3px solid $gray-300;
    display: inline-block;
    text-align: left;
    margin-top: 5px;
}

.search-result > *{
    margin-left: 15px;
}

.main{
    padding: 0px 100px;
}

.task-container{
    margin-top: 10px;
    padding: 20px;
    border: 1px solid #b5b5b5;
    -webkit-box-shadow: 0px 3px 4px 0px rgba(181,181,181,1);
    -moz-box-shadow: 0px 3px 4px 0px rgba(181,181,181,1);
    box-shadow: 0px 3px 4px 0px rgba(181,181,181,1);
    cursor: pointer;
    transition: transform 0.2s;
}

.task-container:hover {
    transform: scale(1.03); /* animation effect on hover */
  }